@page "/carrinho"
@using src.Data.BusinessLogic.SubFeiras
@inject SubFeirasFacade Facade

<style>
    body, html {
        height: 100%;
        width: 100%;
        background-color: white;
    }

    .top-content {
        height: 25%;
        /* padding: 50px;*/
        display: grid;
        /*grid-template-columns: 20% auto;*/
        background-color: lightskyblue;
    }

</style>


<div class="top-content">
    <div align = "center">
    <h3>Carrinho de Compras</h3>
    </div>
</div>


<ul>
    @foreach(String prod in carrinhoUser){
        <li><p>@prod</p><button>Remove</button></li>
    }
</ul>

<button>
    <a href="/finalizar" style="color: blue"> Finalizar compra! </a>
</button>

@code {
    private List<String> carrinhoUser;

    protected override async Task OnInitializedAsync()
    {
        carrinhoUser = new List<String>();
        carrinhoUser.Add("Produto1");
        carrinhoUser.Add("Produto2");
        carrinhoUser.Add("Produto3");
    }
}
