@page "/carrinho"
@using src.Data
@inject Facade Facade

<style>
    body, html {
        height: 100%;
        width: 100%;
        background-color: white;
    }

    .top-content {
        height: 15%;
        display: grid;
        font-size: 24px;
        background-color: lightskyblue;
    }

    .produtos {
        background-color: white;
        display: grid;
        grid-template-columns: 20% auto;
        justify-self: center;
        align-self: center;
        font-size: 15px;
        margin: 50px;
        border: solid;
        height: 40%;
    }

    .img-container {
        margin-top:25px;
        width: 100%;
        height: 100%;
    }

    .right-content {
        border: solid;
        width: 90%;
        height: 80%;
        justify-self: center;
        align-self: center;
    }

    .name-product {
        margin-top: 15px;
        border:solid;
    }

    .price_quantity {
        display: grid;
        grid-template-columns: 60% 40%;
        border:solid;
    }

    .description {
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 15px;
        border:solid;
    }

    .name-price-quantity {
        margin-top: 15px;
        margin-left: 30px;
        margin-bottom: 5px;
        margin-right: 15px;
        border: solid;
    }

    .top-row {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 35% 50% 15%;
    }

</style>


<div class="top-content">
    <div align = "center">
        <h3 style="margin-top: 50px ">Carrinho de Compras</h3>
    </div>
</div>

<div class="produtos">
    <div class="img-container">
        <img src=css/batata-vermelha-final-1.jpg width="75%" height="75%" />
    </div>

    <div class="right-content">  
        <div class="top-row">
            <div class="name-price-quantity">
                <div class="name-product"> 
                    <p> Nome do Produto </p> 
                </div>
                <div class="price_quantity"> 
                    <p> Preço do Produto</p>
                    <p> Quantidade do Produto</p>
                </div>
            </div>

            <div class="description"> <p> Descrição </p> </div>
            <i class="fa-solid fa-trash" style="color: grey ; font-size: 50px"></i>
        </div>
    </div>
</div>

<button>
    <a href="/finalizar" style="color: blue"> Finalizar compra! </a>
</button>

@code {
    private List<String> carrinhoUser;

    protected override async Task OnInitializedAsync()
    {
        carrinhoUser = new List<String>();
        carrinhoUser.Add("Produto1");
        carrinhoUser.Add("Produto2");
        carrinhoUser.Add("Produto3");
    }
}
