@page "/CriarFeira"

<style>
	html, body {
		height: 100%;
		width: 100%;
	}

	.top-row {
		border: solid;
		height: 40%;
		display: grid;
		grid-template-columns: 30% auto;
	}

		.left-container {
			border: solid;
			display: grid;
			grid-template-columns: auto;
		}

			.img-container{
				border: solid;
				width: 200px; 
				justify-self: center;
				align-self: center;
			}

			.img-container:before {
				content: "";
				float: left;
				padding-top: 10%; /* initial ratio of 1:1*/
			}

	.descricao{
		border: solid;
	}

	button {
		background-color: var(--color-blue);
		border: none;
		border-radius: 100px;
		width: 100px;
		height: 50px;
		align-self: center;
		justify-self: center;
		margin: 10px 0 10px 0;
	}

	button h1 {
		font-size: 20px;
	}

	.btn-container {
		border: solid;
	}

	.right-container{
		border: solid;
		height: 100%;
		width: 100%;
		display: flex;
	}
</style>



<div class="top-row">
	<div class="left-container">
		<div class="img-container">
			<img src="css/feira.jpg" width="100%" height="100%"/>
		</div>
		<button>
			<h3>Adicionar imagem</h3>
		</button>
		
	</div>
	
	<div class="right-container">
		<h3>CriarFeira</h3>
		<div>
			<form>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
			</form
		</div>>
	</div>
	
</div>

<div class="descricao">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed justo et nisi laoreet sollicitudin. Quisque varius, lectus a commodo eleifend, nisi felis scelerisque eros, id tempor sapien ipsum eu ipsum. Vivamus eget viverra risus, in varius nibh. Aenean varius consequat gravida. Vivamus malesuada sed ipsum sed volutpat. Cras convallis elit non lectus rhoncus, vitae pharetra mi condimentum. Phasellus dapibus, magna non interdum accumsan, risus ex porttitor urna, ut egestas dolor urna sagittis lacus.

	Nulla pretium, mi non iaculis rhoncus, augue arcu ultrices ante, sed venenatis ex nulla nec odio. Mauris turpis ante, ultricies non aliquet a, gravida in massa. Vivamus sollicitudin pellentesque nulla, at rutrum metus faucibus sit amet. Aenean eleifend neque quam. Quisque in maximus tortor. Duis in magna ut elit pretium suscipit et sagittis erat. Aenean elementum diam quis diam sollicitudin, posuere pellentesque erat pulvinar. Maecenas eu felis in neque posuere rutrum ut eu risus. Vivamus suscipit tristique ante eu convallis. Duis sagittis porttitor libero. Etiam facilisis nisi ut tellus luctus, ac posuere diam mattis. Quisque aliquet vehicula mi, id malesuada arcu ultricies non. Duis lacus magna, vestibulum in metus nec, tincidunt finibus massa. In quis massa eu urna commodo sagittis.
</div>
<div class="btn-container">
	<button><h1>Criar feira</h1></button>
</div>


@code {

}
