@page "/finalizar"
@using src.Data
@inject Facade Facade

<h2>Insira os dados de faturação</h2>

<form>
  <label for="fname">Nome:</label><br>
  <input type="text" id="fname" name="fname" value="Insira o seu nome"><br>
  <label for="lname">Apelido:</label><br>
  <input type="text" id="lname" name="lname" value="Insira o seu apelido"><br><br>
  <label for="telephone">Número de telemóvel:</label><br>
  <input type="text" id="telephone" name="telephone" value="Insira o seu número de telemóvel"><br><br>
  <label for="lname">Morada:</label><br>
  <input type="text" id="address" name="address" value="Insira a sua morada"><br><br>
  <input type="submit" value="Submit">
</form> 

<div>
	<ul style="padding:100px">
		<li style="display: inline; padding: 100px"><button>MBWAY</button></li>
		<li style="display: inline; padding: 100px"><button>Transferência MB</button></li>
		<li style="display: inline; padding: 100px"><button>Credit Card</button></li>
	</ul>
</div>


@code {
	private String nomeFaturacao;
	private String morada;
	private String numTelemovel;
}
