@page "/"
@using src.Data
@inject Facade Facade

<PageTitle>Index</PageTitle>

<h1>Escolha a feira</h1>

<input type="text" placeholder="Procurar feira">

@if (feiras == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach(String feira in feiras){
            <li><a href="catalogo/@feira">@feira</a></li>
        }
    </ul>
}

@code {
    private List<String>? feiras;

    protected override async Task OnInitializedAsync()
    {
        feiras = await Facade.getFeiras();
    }
}