@page "/Vendedor"

<style>
	body, html {
		height: 100%;
	}

	.container {
		height: 80%;
		display: grid;
		grid-template-columns: 50% 50%;
	}

	button {
		background-color: var(--color-blue);
		border: none;
		border-radius: 100px;
		width: 200px;
		height: 100px;
		align-self: center;
		justify-self: center;
	}

	a {
		text-decoration: none;
	}

	h1 {
		padding: 10px;
		color: white;
	}
</style>

<h1>Página do Vendedor</h1>


<div class="container">
	<button><a href="/Vendedor/AdicionarProduto"><h1>Adicionar produto</h1></a></button>
</div>

@code {

}
