@page "/registarfeira"
@using src.Data.BusinessLogic.SubFeiras
@inject SubFeirasFacade Facade

<style>
	body, html {
		height: 100%;
		width: 100%
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		height: 40%;
		margin-top: 50px;
		margin-right: 500px;
		margin-left: 500px;
	}


</style>

<br/> <br/> <br /> <br />
<h1 style="font:700">Registo em uma feira</h1>

<div class="grid-container">
		<input type="text" placeholder="Insira o nome da feira:" @bind="@nomeFeira" style="border-radius:10px ; margin-bottom: 80px" />
		<input type="text" placeholder="Insira o seu nif:" @bind="@nif" style="border-radius:10px " />
</div>

<button @onclick="registerInFeira" style="background-color:forestgreen; color:black ; border-radius: 10px">Registar na feira</button>

@code {
	private int nif;
	private string nomeFeira;

	private void registerInFeira()
	{
		SubFeirasFacade f = new SubFeirasFacade();
		f.AddRegistoFeira(nomeFeira, nif);
	}
}
