<div class="menu-bar">
      <h1 class="logo">U<span>Market</span></h1>
      <ul>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Sign In</a></li>
        <li>
            <a href="#">Menu Utilizador<i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu">
                <ul>
                  <li><a href="#">Carrinho de compras</a></li>
                  <li><a href="#">Produtos favoritos</a></li>
                  <li><a href="#">Alterar detalhes de utilizador</a></li>
                </ul>
              </div>
        </li>
     </ul>
</div>

