<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
    }

    .logo {
        color: var(--color-white);
        font-size: 30px;
    }

        .logo span {
            color: var(--color-primary);
        }

    .menu-bar {
        background-color: #3359a2;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        position: relative;
        border-bottom: solid;
        border-color: var(--color-primary);
    }

        .menu-bar ul {
            list-style: none;
            display: flex;
        }

            .menu-bar ul li {
                /* width: 120px; */
                padding: 10px 30px;
                /* text-align: center; */

                position: relative;
            }

                .menu-bar ul li a {
                    font-size: 20px;
                    color: var(--color-white);
                    text-decoration: none;
                    transition: all 0.3s;
                }

                    .menu-bar ul li a:hover {
                        color: var(--color-primary);
                    }

    .fas {
        float: right;
        margin-left: 10px;
        padding-top: 3px;
    }

    /* dropdown menu style */
    .dropdown-menu {
        display: none;
    }

    .menu-bar ul li:hover .dropdown-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #3359a2;
    }

        .menu-bar ul li:hover .dropdown-menu ul {
            display: block;
            margin: 10px;
        }

            .menu-bar ul li:hover .dropdown-menu ul li {
                width: 150px;
                padding: 10px;
            }

    .dropdown-menu ul li:hover {
        display: block;
        /*position: absolute;*/
        /* left: 150px;*/
        /*top: 0;*/
        background-color: var(--color-blue);
    }
    
</style>

<div class="menu-bar">
    <a href="/"><img src="css/images/logo.png" width="150px" /></a>
      <ul>
                <li><a href="/Registo">Sign Up</a></li>
                <li><a href="/Login">Sign In</a></li>
                <li>
                    <a href="#">Menu Utilizador<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="/Carrinho">Carrinho de compras</a></li>
                            <li><a href="#">Produtos favoritos</a></li>
                            <li><a href="#">Alterar detalhes de utilizador</a></li>
                        </ul>
                    </div>
                </li>
     </ul>
</div>

